@charset "utf-8";

/*
Requirement: 11/14/20

Filename: styles.css
*/

/* Structural Styles - Requirement 12/12/20 Reset Styles */
html, body, div, span, h2, h3, h4, address, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, ul, li, fieldset, label, legend,
table, caption, article, aside, embed, figure, figcaption, footer, header, menu, 
nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul, li {
	list-style: none;
}

/* Body Styles */

body {
	background-color: rgb(255, 246, 242);
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-width: 640px;
	width: 95%;
}

/* Header Styles */
/* Requirement 12/7/20 Background image */

header	{ 
	color: rgb(255, 246, 242);
	font-family: harrington;
	min-height: 275px;
	background-image: url(media/flowers2.jpg);
	background-size: 100% 100%; 
	margin-top: 20px;
	margin-bottom: 15px;
}

/* Requirement: 12/7/20 Pseudo-Element Link, Visited, Hover */
header a {text-decoration: none; }
header a:link { color: rgb(18, 74, 61); }
header a:visited { color: rgb(255, 246, 242); }
header a:hover { color: rgb(18, 74, 61); }

.home { 
	text-align: center;
	height: 20vh; 
	font-size: 225%;
	text-shadow: rgb(10, 201, 179) 3px 3px 4px ;
	padding-top: 3em;
}

/* Horizontal navigation styles - horizontal, centered across page */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 248, 190);
	border: 1px solid rgb(245, 205, 106);
  }
  
li {
	float: left;
	color: rgb(171, 31, 245);
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

nav a {text-decoration: none; }
nav a:link { color: rgb(235, 73, 61); }
nav a:visited { color: rgb(171, 31, 245); }
nav a:hover { color: rgb(10, 201, 179); }

 /* Styles for Index page, h2 and section */

 h2 {
	text-align: center;
	font-family: "harrington";
	font-weight: bold;
	text-shadow: rgb(211, 211, 211) 1px 1px 1px;
	font-size: 1.6em;
	color: rgb(171, 31, 245);
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Requirement 12/12/20 Background image */

 main {
	 background: url(media/blurred_flower_background.jpg) 100%/cover no-repeat, rgb(155, 250, 220);
	 margin-top: 20px;
 }

 section a {
	text-decoration: none;
	text-align: center;
  }

  section#categories {
	display: grid;
	justify-content: center;
}

h3 {
	border: 2px solid rgb(29, 173, 125);
	border-radius: 40px;
	margin: 30px;
	text-align: center;
	padding: 20px;
	background-color: rgb(255, 248, 190);
	color: rgb(245, 87, 190);
	font-family: "cavolini", serif;
	font-size: 1.5em;
  }

/* Requirement: 12/5/20 Styles for Form on "Contact" page */

div#heading {
	color: rgb(171, 31, 245);
	font-family: "cavolini", serif;
	font-size: 1.2em;
}

form#customerinfo {
	display: flex;
	flex-flow: row wrap;
}

form#customerinfo > fieldset {
	background-color: rgb(255, 248, 190);
	border-radius: 20px;
	flex: 1 1 300px;
	font-size: 1em;
	padding: 10px;
	margin: 10px;
}

div.signUp {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.signUp > * {
	flex: 1 1 150px;
  }

/* Legend Styles */

legend {
	background-color: rgb(155, 250, 220);
	color: black;
	padding: 5px;
}

/* Text Area Styles */

textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}

/* Form Button Styles */

div#click {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	background-color: rgb(155, 250, 220);
	font-size: .8em;
	padding: 5px;
	margin: 5px;
}

/* Validation Styles */

input {
	border: 1px solid;
	border-radius: 4px;
	font-size: 1em;
	margin: 0.25em;
	min-width: 125px;
	padding: 0.5em;
	transition: background-color 0.5s ease-out;
  }
  input:optional {
	border-color: rgb(171, 31, 245);
  }
  input:required {
	border-color: rgb(0, 0, 0);
  }
  input:invalid {
	border-color: red;
  }

/* Requirement: 12/6/20 Advanced styling on image using border and box shadow */

figure {
	margin:30px auto 30px;
	width: 100%;
	background-color: rgb(255, 248, 190);
	border-color: rgb(155, 250, 220);
	border-style: solid;
	border-radius: 15%;
	border-width: 5px;
	box-shadow: rgb(245, 205, 106) 20px 20px 10px,
				rgb(245, 205, 106) -10px 10px 10px;
}

figure img {
	display: block;
	width: 100%;
	border-radius: 15%;
}

figure figcaption {
	color: rgb(0, 0, 0);
	font-family: "cavolini", serif;
	text-align: center;
	padding: 10px 0;
}

/* Requirement 12/7/20 Table */

table.fairyproducts { 
	border: 1px rgb(231, 111, 111); 
	margin-bottom: 2em;
	min-width: 400px;
	border-collapse: collapse;
	display: inline-block; 
	vertical-align: top; 
}

table.fairyproducts td, th { 
	color: rgb(105, 19, 151);
	padding: 0.5em; 
	border: 2px solid rgb(231, 111, 111); }

/* Requirement 12/7/20 Pseudo-element - nth-of-type */
tr:nth-of-type(even) { background-color: rgb(255, 248, 190); }


/* Tutorial Page styles */
/* Heading used on tutorial page */

h4 {
	color: rgb(245, 87, 190);
	font-family: "cavolini", serif;
	font-size: 1.5em;
	padding-top: 10px;
}

/* Requirement 12/8/20 Block Quote Styles */

article {
	text-align: center;
	color: rgb(105, 19, 151);
	font-family: "cavolini", serif;
	font-size: 1.2em;
}

blockquote {
	position: relative;
	font-family: "harrington";
	background: rgb(222, 243, 222);
 }

blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 2em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}
blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 2em;
  bottom: 0;
  right: 0;
  margin-right: 5em;
  margin-bottom: -0.4em;
}
blockquote p {
  display: inline;
}

h5 {
	color: rgb(245, 87, 190);
	font-family: "cavolini", serif;
	font-size: 1em;
	padding-top: 5px;
}

aside {
	position: relative;
}

/* Requirement: 12/05/20 Footer Styles */

footer {
	background-color: rgb(231, 111, 111);
	font-size: 0.9em;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
  	padding-bottom: 5px;
 }
/* ================
   Base Flex Styles
   ================
*/

header, footer {
	width: 100%;
}

/* =============================
   Mobile Styles: 0px to 480px
   =============================
*/

/*Requirement 12/13/20 Media Query with 3 Selectors */

@media only screen and (max-width: 480px) {
	
	body {
		display: flex;
		flex-flow: row wrap;
	}
	
	nav {
		float: none;
		width: 100%;
	}

	section a {
		flex-direction: column;
	}
}

/* =============================
tablet Styles: 481px and greater
   =============================
*/

/* Requirement 12/12/20 Media Query with 3 selectors */
@media only screen and (min-width: 481px) {
	
	nav ul{
		  display: flex;
		  flex-flow: row nowrap;
		}

	nav li {
		flex: 1 1 auto;
	}

	table.fairyproducts {
		display: flex;
		flex-flow: row wrap;
	}
}

/* ==================================
   Desktop Styles: 769px and greater
   ==================================
*/

/* Requirement 12/12/20 Media Query with 3 selectors */

@media only screen and (min-width: 769px) {
	
	nav {
		display: block;
		position: relative;
		width: 100%;
	  }

	  aside {
		display: flex;
		flex-flow: row nowrap;
	}

	h5 {
		display: flex;
		flex-flow: row nowrap;
	}
}

  